<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript">
		window.MathJax = {
			tex: {
				inlineMath: [["$", "$"], ["\\(", "\\)"]],
				displayMath: [["\\[", "\\]"], ["$$", "$$"]]
			},
			svg: {fontCache: "global"}
		};
	</script>
	<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<title>LambdaPy</title>
</head>

<body>
	<!-- Header Section -->
	<div class="container">
		<h1>LambdaPy</h1>
		<h2 class="subtitle">An interpreter for the Lambda Calculus, written in Python</h2>

		<div class="section">
			<h2>The Lambda Calculus</h2>
			<p>
				The <a href="https://plato.stanford.edu/entries/lambda-calculus/">lambda calculus</a> is arguably the world's
				simplest programming language.
				It was discovered by <a href="https://plato.stanford.edu/entries/church/index.html">Alonzo Church</a> in 1936 as
				part of his investigations into the foundations of mathematics and the nature of
				computation.
				Despite its simple syntax (the language has only three kinds of expressions), it is <a
					href="https://en.wikipedia.org/wiki/Turing_completeness">maximally expressive</a>: any function that can be
				computed by (say) a Python program can be represented by a lambda-expression.
				Due to its expressive completeness and flexibility, the lambda calculus has played a central role in the
				development of modern programming languages, especially of the <a
					href="https://en.wikipedia.org/wiki/Functional_programming">functional sort</a>.
				The formalism and its many extensions continue to inspire researchers and programmers alike.
			</p>
		</div>

		<div class="section">
			<h2>How to use this app</h2>
			<p style="margin-bottom:2rem">
				The lambda calculus models computation as <em>function abstraction</em> and <em>function application</em>.
				Writing a program in the lambda calculus consists of constructing lambda terms to serve as functions and
				arguments, and applying functions to arguments (thereby producing another lambda term). The basic terms are
				<em>variables</em>, written <code>x1</code>, <code>x2</code>, etc. Given a lambda term <code>M</code>, we can
				construct a function by <em>abstracting</em> from the term. We write this <code>\xi . M</code>, where
				<code>i</code> is a natural number. Intuitively, this represents a function of one argument, <code>xi</code>.
				Finally, given two
				lambda-terms <code>M</code> and <code>N</code>, we can <em>apply</em> <code>M</code> to <code>N</code>.
				Intuitively, this denotes the result of applying the function denoted by <code>M</code> to the function denoted
				by <code>N</code>, and we write this <code>(M N)</code>.

				Lambda expressions are evaluated by applying beta-reduction. This rule allows you to convert a lambda term of
				the form <code>(\ xi . M N)</code> into one of the form <code>M[xi := N]</code>, where this latter expression
				denotes the result of replacing each occurrence of <code>xi</code> in <code>M</code> with <code>N</code>. To
				evaluate a lambda term, we recursively apply the beta-reduction rule. If this procedure terminates, the result
				is unique, and represents the output of the computation.
			</p>
			<p style="margin-bottom:2rem">
				Try it below! Enter an expression following the above syntactical rules and run the computation using
				"Evaluate." Don't forget parentheses around (and only around) function applications.
			</p>
			<p>
				Here are a couple of lambda terms to get you started:
			<ul>
				<li><code>(\x1 . \x2 . (x2 x1) x3)</code></li>
				<li><code>(\x1 . (x1 x1) x1)</code></li>
			</ul>
			</p>
			<p>
				See if you can crash the server with a cleverly crafted lambda term (hint: think of your program as an infinite
				binary tree) ;)
			</p>
		</div>

		<div class="content">
			<!-- Form Section -->
			<div class="form-section">
				<form action="/evaluate" method="post">
					<label for="expression">Enter Lambda Expression</label>
					<input type="text" id="expression" name="expression" placeholder="Example: (\x1 . x1 x2)" required>
					<button type="submit">Evaluate</button>
				</form>

				{% if error %}
				<div class="error_message">
					{{error}}
				</div>
				{% endif %}
			</div>

			<!-- History Section -->
			<div class="history-container">
				<div id="history">
					<h2>Recent expressions</h2>
					{% for item in history %}
					<div class="history-item">
						<strong>This expression</strong> \[ {{ item.latex_input | safe }} \]
						<strong>evaluates to</strong> \[ {{ item.latex_output | safe }} \]
					</div>
					{% endfor %}
				</div>

				<form action="/clear_history" method="post">
					<button type="submit" class="clear-button">Clear history</button>
				</form>
			</div>
		</div>
		<div>
			<h2>Information</h2>
			<p style="margin-bottom:2rem">
				Made by <a href="https://github.com/paul-talma">Paul Talma</a>. My implementation of
				the parser and interpreter
				was inspired by <a href="https://ruslanspivak.com/">Ruslan Spivak's</a> <a
					href="https://ruslanspivak.com/lsbasi-part1/">"Let's
					Build a Simple Interpreter"</a>.
			</p>
			<p style="margin-bottom:2rem">
				<a href="https://github.com/paul-talma/lambdapy/tree/main">Github.</a>
			</p>

		</div>
	</div>
</body>
